body {
text-align: center;
margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}


/*
questo lo abbuio per renderlo coerente con i nuovi img
img{
	margin: 45px 8px;
}
*/


h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
margin: 0;
}

h2 { font-size: 20;
font-family: "Raleway", sans-serif;
font-weight: 600; color: #0d2c40; letter-spacing: 1px;
}

p {
font-family: "Droid Serif", serif; line-height: 26px; font-size: 18px;
}

a { font-size: 18;
font-family: "Raleway", sans-serif;
font-weight: 600; color: #f15b31; letter-spacing: 1px; text-decoration: none;
margin: 20px;
color: #FFFFFF;
border-bottom: 2px solid transparent;
} 

a:hover {
border-bottom-color: white;
}

.social {
	color: #F15B31;
}


footer {
	text-transform: uppercase;
	padding: 20px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
float: left;
}

.message {
float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
font: #F15B31;
font-weight: 700;
}

/* from here css for the first 3D flipping

.flip-card {
  background-color: transparent;
  width: 175px;
  height: 279px;
  perspective: 1000px;
 //I made the following change
  margin: 8px;
  display: inline-block;
  float: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
here the CSS for the first 3D flipping finishes */


/*from here the CSS for the second 3D flipping card*/
.scene {
  width: 175px;
  height: 279px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
  /* my part */
  margin: 8px;
  display: inline-block;
  float: center;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}










